body{
    background: linear-gradient(180deg, #271156 0%, rgba(34, 222, 177, 0.62) 100%) no-repeat, url(img/Cloud.jpg);
    
    font-family: 'Montserrat', sans-serif;
    overflow-y: hidden;
    height: 105.5vh;
}

#bg-elevation{
	width: 80%;
	margin: auto;
	background-image: url(img/chat.png);
	border-radius: 17px;
	margin-top: 2em;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	padding-bottom: 50px;
}

#nav-list{
	list-style-type: none;
	display: inline-flex;
}

#nav-list > p{
	display: none;
	font-family: 'Karla', sans-serif;
	font-style: normal;
	font-weight: bold;
	color: #ffffff
}

#nav-list >li{
	margin-left: 25px;
}

nav{
	margin-bottom: 30px;
}

#nav-list > li > a{
	text-decoration: none;
	color: #ffffff;
	font-family: 'Karla', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 27px;
	text-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
	
}

.team-section {
	margin: 0;
	padding: 0;
	font-family: Karla Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 47px;
	overflow: hidden;
	text-align: center;
	/* background: linear-gradient(180deg, rgba(34, 222, 177, 0.7) 0%, rgba(255, 255, 255, 0.595) 100%); */
	background: linear-gradient(180deg, #271156 0%, rgba(34, 222, 177, 0.62) 100%) no-repeat, url(img/friends.jpg);
	padding: 60px;
}

.team-section {
	text-transform: uppercase;
	margin-bottom: 60px;
	font-size: 20px;
}

.team-section h1 {
	color: white;
}

.border {
	display: block;
	margin: auto;
	width: 160px;
	height: 3px;
	margin-bottom: 40px;
}

.ps {
	margin-bottom: 40px;
}

.ps a{
	display: inline-block;
	margin: 0 30px;
	width: 160px;
	height: 160px;
	overflow: hidden;
	border-radius: 50%;
}

.ps a img {
	width: 100%;
	filter: grayscale(100%);
	transition: 0.4s all;
}

.ps a:hover > img {
	filter: none;
}

#colmenu {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 27px;

	position: absolute;
}





/* body{
	background-color: linear-gradient(180deg, #271156 0%, rgba(34, 222, 177, 0.62) 100%);
}

#bg-elevation{
	width: 80%;
	margin: auto;
	background-image: url("../img/cloud.jpg");
	border-radius: 17px;
	margin-top: 2em;
	box-shadow: 0px 0px 10px rgba(10, 3, 3, 0.25);
	padding-bottom: 50px;
}

#nav-list{
	list-style-type: none;
	display: inline-flex;
}

#nav-list > p{
	display: none;
	font-family: 'Karla', sans-serif;
	font-style: normal;
	font-weight: bold;
	color: #ffffff
}

#nav-list >li{
	margin-left: 25px;
}

nav{
	margin-bottom: 30px;
}

#nav-list > li > a{
	text-decoration: none;
	color: #ffffff;
	font-family: 'Karla', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 27px;
	text-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
	
}

#present-link > div{
	background-color: #ffffff;
	border-radius: 10px;
	height: 3px;
	background: #C4C4C4;
	box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}

#chatroom{
	height: 480px;
	width: 400px;
	margin: auto;
	background: linear-gradient(180deg, rgba(34, 222, 177, 0.7) 0%, rgba(255, 255, 255, 0.595) 100%), url(img/Cloud.jpg);
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
	border-radius: 27px;
}

#chat-head{
	display: inline-flex;
	width: 100%
}

#chat-head>#profile{
	margin-left: 20px;
	margin-top: 5px;
	min-width: 60px;
}

#chat-head>p{
	font-family: 'Karla', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: #FFFFFF;
}

#chat-body{
	height: 340px;
	overflow-y: visible;
	overflow-x: hidden;
}

#chat-footer{
	height: 70px;
	border-radius: 0px 0px 27px 27px;
	display: inline-flex;
}

#toggle{
	width: 25px;
	height: 20px;
	margin-left: 50%;
	margin-top: 20px;
	display: none;
	cursor: pointer;
}

#send-btn{
	background-color: rgba(0, 0, 0, 0);
	border: none;
	margin-top: 10px;
	margin-left: 5px;
	cursor: pointer;
	
}

#message-box{
	margin-left: 30px;
	height: 40px;
	background: #FFFFFF;
	box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
	border-radius: 22.5px;
	border: none;
	padding-left: 10px;
	padding-right: 10px;
	width: 280px;
	font-family: 'Karla', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
}


.card {
	border-radius: 50%;
  }

@media screen and (max-width: 500px) {
	.column {
	  width: 100%;
	}
}

.column {
	float: left;
	width: 33.33%;
	padding: 5px;
	border-radius: 50%;
}
  
.row::after {
	content: "";
	clear: both;
	display: table;
	border-radius: 50%;

} */