/*----------FIGMA DESIGN CSS SNIPPETS------------
        background: linear-gradient(180deg, #271156 0%, rgba(34, 222, 177, 0.62) 100%);
        border-radius: 17px;

        /*Colour for name prompt: rgba(147, 141, 141, 0.5);
        BUDDIE text:
                    color: #FFF;
                    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
-------------------------------------------------*/


/********GENERAL STYLES***********/
/*********************************/
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: url(img/Homepage.png);
    font-family: 'Montserrat', sans-serif;
    overflow-y: hidden;
    height: 100vh;
}
.container {
    position: relative;
}
h1{
    color: #FFF;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 2em;
}

p{
    font-size: 1em;
}

.navbar{
    margin-bottom: 0;
}

.navbar-brand{
    position: relative;
}

.nav-item{
    padding:0px 10px;
}

.nav-link{
    font-size: 1rem;
}

a {
	cursor: pointer;
}
.nav-item:nth-child(1)
{
  padding-left: 0;
}
.navbar-expand-md .navbar-nav .nav-link.active
{
    padding-left: 0;
}

.fab{
    width:10px;
    height:10px;
    font-size: 1.5rem;
    color: #FFF;
}

.main-img{
    width: 30em;
    height: 23em;
    margin-bottom: 10rem;
}

.i-phone{
    width: 20em;
    padding: 0;
    margin: 0;
}

.bottom-phone{
    position: absolute;
    top: 10%;
    right: -3%;
}

.top-phone{
   position: absolute;
   right: 7em;
   top: 0;
   filter: blur(1px);
   -webkit-filter: blur(1px);
}
.lineBreak{
    display: block;
}
.left-div{
    text-align: left;
    color: #fff;
}

.right-div{
    text-align: center;
    position: relative;
    margin-top: 0;
    padding: 0;
}



/*---Media Queries --*/
@media (max-width: 992px) 
{
        body
        {
          overflow: auto;
          margin-top: 1%;
          margin-bottom: 30%;
          height: 100vh;
        }
    h1 
    {
      margin-top: .5em;
      font-size: 1.5em;
      margin-bottom: 10px;
    }
    p 
    {
      font-size: 1.3em;
      margin-bottom: 0;
    }
    .nav-link 
    {
     font-size: .8rem;
    }
    .lineBreak
    {
      display: inline;
    }
    .fab 
    {
    width: 5px;
    height: 5px;
    font-size: 1rem;
    }
    .row.text-center
    {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .col-lg-6
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .main-img 
    {
      width: 33vw;
      height: 26vw;
      margin-bottom: 0;
    }
    .top-phone 
    {
      position: absolute;
      left: 7%;
      top: .3em;
    }
    .bottom-phone{
        position: absolute;
        top: 4em;
        right: 7%;
    }
    .i-phone 
    {
        width: 60%;
        padding: 0;
        margin: 0;
    }
}
@media (max-width: 768px) 
{
    .i-phone
    {
        width: 40%;
    }
    .top-phone 
    {
      position: absolute;
      left: 23%;
      top: .3em;
    }
    .bottom-phone{
        position: absolute;
        top: 4em;
        right: 23%;
    }
    h1 
    {
      margin-top: .5em;
      font-size: 1.2em;
      margin-bottom: 10px;
    }
    p 
    {
      font-size: 1em;
      margin-bottom: 0;
    }
    .nav-item 
    {
      padding: 0px 10px!important;
    }
    body
    {
      overflow: auto;
      margin-top: 1%;
      margin-bottom: 40%;
      height: 100vh;
    }
}


@media (max-width: 576px)
{
    .i-phone
    {
        width: 30%;
    }
    .top-phone 
    {
      position: absolute;
      left: 28%;
      top: .3em;
    }
    .bottom-phone{
        position: absolute;
        top: 2.5em;
        right: 28%;
    }
    h1 
    {
      margin-top: .5em;
      font-size: 1em;
      margin-bottom: 10px;
    }
    p 
    {
      font-size: .8em;
    }
    .nav-link 
    {
      font-size: .5rem;
    }
    .fab 
    {
      font-size: .6rem;
    }
}


